## Directories ##
/bin/
/obj/
/publish/
/out/
/packages/

## Files ##
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe
*.nupkg
*.log
*.bak
*.swp
*.vscode/
appsettings.json  # if sensitive data
*.pfx
*.cer
*.key

## Others ##
.DS_Store
Thumbs.db
*.swp
*.swo
